<!DOCTYPE html>
<html>

<head>

    <title>Entertainment</title>

</head>

<body>

    <h2>Movie Library</h2>

    <ul>

        {% for movie in movies %}

        <li>

            <button onclick="playMovie('{{movie}}')">

                {{movie}}

            </button>

        </li>

        {% endfor %}

    </ul>

    <hr>

    <video id="player" width="900" controls>

        <source id="source">

    </video>


    <script>

        function playMovie(name) {

            let player = document.getElementById("player")

            let source = document.getElementById("source")

            source.src = "/play/" + name

            player.load()

            player.play()

        }

    </script>

</body>

</html>